<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EndtoEnd">
    <test name="EndtoEnd">
        <parameter name="browser" value="chrome">
        </parameter>
        <classes>
            <class name="test.Search"></class>
        </classes>
    </test>
</suite>